       .finance-thead th {
  background-color: #f3f4f6 !important;
  color:rgb(105, 105, 157);
  font-weight: 600;
  border: none;
}                                                                                                 