       .finance-thead th {
  background-color: #f3f4f6 !important;
  color:rgb(150,154,175)!important;
  font-weight: 600;
  border: none;
}                                                                                                 