       .finance-thead th {
  background-color: #f3f4f6 !important;
  color:#adb0c6!important;
  font-weight: 600;
  border: none;
}                                                                                                 